<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css" >

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container-fluid" style="background-color: #4267b2">
      <div class="container p-2" >
        <div class="row  text-white">
          <div class="col-lg-6 mt-4">
            <img src="assets/logo.png" style="width:20%;">
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4">
                อีเมล์หรือโทรศัพท์ <br>
                <input> <br>

              </div>
              <div class="col-lg-4">        
                  รหัสผ่าน<br>        
                  <input>  <br>
                  <a href="#">ลืมบัญชีผู้ใช้ใช่หรือไม่</a>
              </div>
              <div class="col-lg-4">
                <button class="btn btn-primary btn-sm mt-4">เข้าสู่ระบบ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="background-color: rgb(230, 230, 230)">
      <div class="container p-4">
        <div class="row">
            <div class="col-lg-6">
              <h2>Facebook ช่วยคุณเชื่อมต่อและแชร์กับผู้คนมากมายรอบตัวคุณ</h2>
              <img src="assets/map.png" style="width:100%;">
            </div>
            <div class="col-lg-6">       
              <h1>สมัคร</h1>
              <p><strong>สมัครฟรี ไม่มีค่าใช้จ่าย</strong></p>
              <div class="row">
                <div class="col-lg-6">
                  <input class="form-control" placeholder="ชื่อ">
                </div>
                <div class="col-lg-6">
                  <input class="form-control" placeholder="นามสกุล">
                </div>
              </div>                
              <div class="row mt-2">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="หมายเลยโทรศัพท์มือถือหรืออีเมลื">
                </div>
              </div>                
              <div class="row mt-2">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="รหัสผ่าน">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-12">
                    <div><strong>วันเกิด</strong></div>
                    <div>
                      <select>
                        <option>29</option>
                        <option>30</option>
                      </select>                      
                      <select>                        
                        <option>มิถุนายน</option>     
                        <option>กรกฏาคม</option>
                      </select>                      
                      <select>                         
                        <option>2000</option>      
                        <option>2001</option>
                      </select>
                    </div>                      
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-12">
                    <div><strong>เพศ</strong></div>
                    <div>
                      <input type="radio"> ชาย
                      <input type="radio"> หญิง
                      <input type="radio"> กำหนดเอง
                    </div>                      
                </div>
              </div>
              <p class="mt-4">
                เมื่อคลิก สมัคร แสดงว่าคุณยินยอมตาม
                <a href="#" >ข้อกำหนด</a> 
                <a href="#" >นโยบายข้อมูล</a> 
                และ
                <a href="#" >นโยบายคุกกี้</a>
                ของเราแล้ว คุณอาจได้รับการแจ้งเตือนทาง SMS จากเราและสามารถเลือกไม่รับได้ทุกเมื่อ
              </p>
              <div class="row mt-4">
                <div class="col-lg-12">
                    <button class="btn btn-success px-5">สมัคร</button>                   
                </div>
              </div>
              <div class="mt-4">
                <a href="#">สร้างเพจ</a> 
                สำหรับบุคคลมีชื่อเสียง วงดนตรี หรือธุรกิจ
              </div>
            </div>
        </div>
      </div>
    </div>

    <style>
      ul.list li {
        display : inline;
        padding : 5px;
      }
    </style>

    <div class="container-fluid mt-4" >
      <div class="container">
          <ul class="list" style="list-style: none;" >
            <li>ภาษาไทย</li>
            <li><a href="#">English (UK)</a></li>
            <li><a href="#">日本語</a></li>
            <li><a href="#">中文(简体)</a></li>
            <li><a href="#">Tiếng Việt</a></li>
            <li><a href="#">Français (France)</a></li>
            <li><a href="#">Deutsch</a></li>
            <li><a href="#">Русский</a></li>
            <li><a href="#">Español</a></li>
            <li><a href="#">Português (Brasil)</a></li>
            <li><a href="#">Italiano</a></li>
          </ul>
      </div>
    </div>       

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/popper.min.js" ></script>
    <script src="assets/bootstrap.min.js" ></script>
    <script src="assets/fontawesome.all.js" ></script>
  </body>
</html>
